$Font1: "Open Sans", sans-serif;
$Font2: "Oswald", sans-serif;
$javascript: #F6DF1C;
$warm-black: #201e1c;
$black: #090909;
$grey: #bababa;
$off-white: #faf8f7;
$just-white: #fff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $Font1;
    color: $black;
    position: relative;
}