header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
    background-color: $black;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .js-challenge {
            width: 75px;
            height: 75px;
        }
        a.user {
            font-size: 1.6rem;
            font-weight: bold;
            color: $javascript;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}