.resume {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: $black;
    .resume__detail--title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        color: $javascript;
        h1 {
            margin-bottom: 20px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
        }
        p {
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
        }
    }
    .class__detail--card {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: $javascript;
        border-radius: 5px;
        box-shadow: 0 6px 10px rgba(255,255,255);
        .HTML {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-image: url(../../assets/html-5-logotype.png);
            background-color: $javascript;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .CSS {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-image: url(../../assets/css-3.png);
            background-color: $javascript;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .SASS {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-image: url(../../assets/sass.png);
            background-color: $javascript;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .JS {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-image: url(../../assets/javascript.png);
            background-color: $javascript;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .Animations {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-image: url(../../assets/motion-graphic.png);
            background-color: $javascript;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .class__card--title {
            margin-bottom: 15px;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.8rem;
            color: $black;
        }
        .class__card--body {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $black;
        }
    }
}